<h1>We have received your donation</h1>

<p>

  <%= @greeting %>,</br>
  Just a quick notification that we have recieved your donation for AUD<%= @donation.amount %> </br>
  and it will be redirected to <%= @donation.charity.name %> ASAP!
</p>
<p>
  Nice!
</p>
