<% @amount = flash[:amount] %>
<h2>Thanks, you paid <strong><%= "AUD#{flash[:amount].to_i/100.00}" %></strong>!</h2>

<!-- <% sleep(5) %> -->
<% @user = flash[:user] %>
<% @goal = flash[:goal] %>
<%= link_to "Back", user_goal_path(@goal.user, @goal) %>
